
@{
    ViewBag.Title = "StartPage3";
}

<h2>StartPage3</h2>

<form action="GetTheForm" method="post">
    <input type="text" name="texBox1" value="Insert name of your game."></input>    @*this will be the routingname in the URL*@
    
    <input type="text" name="email" value="Insert your email"></input>
    <input type="radio" name="preferred_color" value="Red" /> Red
    <input type="radio" name="preferred_color" value="Blue" /> Blue
    <input type="radio" name="preferred_color" value="Green" /> Green
    <input type="radio" name="preferred_color" value="Yellow" /> Yellow <br />
    
    <input type="submit" name="submitbtn" value="Press Me"></input>
</form>

