
@{
    ViewBag.Title = "TableOfContent";
}
@section Styles{<link href="~/Content/gameBackground.css" rel="stylesheet" type="text/css" />}
<h1 style="text-align:center">Team Aawsome Tic Tac Toe</h1>
<br />
<br />

<h2 style="text-align:center"> @Html.ActionLink("Enter the game", "StartPage")</h2>

<br />

<h2 style="text-align:center">OR Read our:</h2style="text-align:center"><br />
<br />

<h2 style="text-align:center">Table Of Content:</h2><br />
<div>

<h3 style="text-align:center"><a href="https://github.com/TeknikhogskolanGothenburg/board-game-team-aawsome/blob/master/DocsSrc/userstories/PlayerStories.md">Read our PlayerStories</a></h3>
    <h3 style="text-align:center"><a href="https://github.com/TeknikhogskolanGothenburg/board-game-team-aawsome/blob/master/DocsSrc/userstories/VisitorStories.md">Read our VisitorStories</a></h3>
    <h3 style="text-align:center"><a href="https://github.com/TeknikhogskolanGothenburg/board-game-team-aawsome/blob/master/DocsSrc/architecture/index.md">Read our Architecture</a></h3>
    <h3 style="text-align:center"><a href="https://github.com/TeknikhogskolanGothenburg/board-game-team-aawsome/blob/master/DocsSrc/gameengine/index.md">Go to gameengine - No input yet</a></h3>
    @*- name: Architechture 
    <br />
    href: architecture/
    <br />
    homepage: architecture/index.md
    <br />
    - name: Gameengine Documentation
    <br />
    href: gameengine/
    <br />
    homepage: gameengine/index.md
    <br />
    - name: PlayerStories
    <br />
    href: userstories/
    <br />
    homepage: userstories/playerstories.md
    <br />
    - name: VisitorStories
    <br />
    <a href= userstories/>
    <br />
       ~userstories/visitorstories.md*@
</div>

