
@{
    ViewBag.Title = "test";
}

<div class="game">
    <div>
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
    </div>                           
    <div>                            
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
    </div>                           
    <div>                            
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
        <button type="button" class="cell"></button>
    </div>
</div>

